<div class="container">
    <div class="back mt-5">
        <div class="row pt-5 pl-5">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-5 col-md-10">
                <form>
                    <div class="form-group">
                        <label for="inputEmail4">Titre</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">Prix initial</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">Prix aprés promotion</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control">
                            <option value="formagerie">fromagerie</option>
                            <option value="option2">option2</option>
                            <option value="option3">option3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">Image</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-5 col-md-10 pt-4 align-self-center">
                <div class="card">
                    <img class="card-img-top text-center" src="assets/farina.png">
                    <div class="card-body">
                        <h3 class="card-title"> Farina </h3>
                        <p>Prix initial : 0.8dt</p>
                        <p>Prix aprés promotion : 0.6dt</p>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn-partenaire">Enregistrer</button>
                    <button class="btn btn-supprimer text-white">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>
