<div class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text">
                <h1 class="text-uppercase"> Nouvelle annonce </h1>
            </div>
        </div>
            <div class="row dived-row">
                <div class="col-md-3 dived" >
                    <img  src="assets/11.jpg">
                    <h4 class="text-uppercase text-white" style="font-size: 15px;"> Admin name</h4>
                </div>
                <div class="col-md-3">
                    <a routerLink="/newproduct"><button class="btn btn-partenaire btn-block"><fa-icon [icon]="faList" style="margin: 10px"></fa-icon>Nouveau produit</button></a>
                </div>
                <div class="col-md-3">
                    <a routerLink="/"><button class="btn btn-partenaire btn-block"><fa-icon [icon]="faHome" style="padding: 10px"></fa-icon>Dashboard</button></a>
                </div>
                <div class="col-md-3">
                    <a routerLink="/modif"><button class="btn btn-partenaire btn-block"><fa-icon [icon]="faUser" style="margin: 10px"></fa-icon>Profile</button></a>
                </div>
            </div>
    </div>
</div>